
.DS_Store
.Rhistory
apa-single-spaced.csl
images/americans.png
images/bat_rubber.jpg
images/birds.png
images/drawing.jpg
images/drawing2.png
images/Ehhalt.png
images/field.jpg
images/freelunch.jpg
images/gigo.png
images/hdone.png
images/IMG_7540.jpeg
images/peso.jpg
images/process.png
images/process_comp.png
images/rlogo.png
images/ropen.jpg
images/rstudio-og.webp
images/rstudio.png
images/rubber.jpg
images/studentthesis.png
In_Situ_Obs_2024.qmd
Intro_R_NoL.bib
Intro_R_NoL_2024.html
Intro_R_NoL_2024_files/libs/clipboard/clipboard.min.js
Intro_R_NoL_2024_files/libs/quarto-html/light-border.css
Intro_R_NoL_2024_files/libs/quarto-html/popper.min.js
Intro_R_NoL_2024_files/libs/quarto-html/quarto-html.min.css
Intro_R_NoL_2024_files/libs/quarto-html/quarto-syntax-highlighting.css
Intro_R_NoL_2024_files/libs/quarto-html/tabby.min.js
Intro_R_NoL_2024_files/libs/quarto-html/tippy.css
Intro_R_NoL_2024_files/libs/quarto-html/tippy.umd.min.js
Intro_R_NoL_2024_files/libs/revealjs/dist/reset.css
Intro_R_NoL_2024_files/libs/revealjs/dist/reveal.css
Intro_R_NoL_2024_files/libs/revealjs/dist/reveal.esm.js
Intro_R_NoL_2024_files/libs/revealjs/dist/reveal.esm.js.map
Intro_R_NoL_2024_files/libs/revealjs/dist/reveal.js
Intro_R_NoL_2024_files/libs/revealjs/dist/reveal.js.map
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.css
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.eot
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.ttf
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/league-gothic/league-gothic.woff
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/league-gothic/LICENSE
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/LICENSE
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.eot
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.ttf
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-italic.woff
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.eot
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.ttf
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-regular.woff
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.eot
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.ttf
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibold.woff
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.eot
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.ttf
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro-semibolditalic.woff
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/fonts/source-sans-pro/source-sans-pro.css
Intro_R_NoL_2024_files/libs/revealjs/dist/theme/quarto.css
Intro_R_NoL_2024_files/libs/revealjs/plugin/highlight/highlight.esm.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/highlight/highlight.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/highlight/monokai.css
Intro_R_NoL_2024_files/libs/revealjs/plugin/highlight/plugin.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/highlight/zenburn.css
Intro_R_NoL_2024_files/libs/revealjs/plugin/markdown/markdown.esm.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/markdown/markdown.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/markdown/plugin.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/math/katex.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/math/math.esm.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/math/math.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/math/mathjax2.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/math/mathjax3.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/math/plugin.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/notes/notes.esm.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/notes/notes.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/notes/plugin.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/notes/speaker-view.html
Intro_R_NoL_2024_files/libs/revealjs/plugin/pdf-export/pdfexport.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/pdf-export/plugin.yml
Intro_R_NoL_2024_files/libs/revealjs/plugin/quarto-line-highlight/line-highlight.css
Intro_R_NoL_2024_files/libs/revealjs/plugin/quarto-line-highlight/line-highlight.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/quarto-line-highlight/plugin.yml
Intro_R_NoL_2024_files/libs/revealjs/plugin/quarto-support/footer.css
Intro_R_NoL_2024_files/libs/revealjs/plugin/quarto-support/plugin.yml
Intro_R_NoL_2024_files/libs/revealjs/plugin/quarto-support/support.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/reveal-menu/menu.css
Intro_R_NoL_2024_files/libs/revealjs/plugin/reveal-menu/menu.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/reveal-menu/plugin.yml
Intro_R_NoL_2024_files/libs/revealjs/plugin/reveal-menu/quarto-menu.css
Intro_R_NoL_2024_files/libs/revealjs/plugin/reveal-menu/quarto-menu.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/search/plugin.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/search/search.esm.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/search/search.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/zoom/plugin.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/zoom/zoom.esm.js
Intro_R_NoL_2024_files/libs/revealjs/plugin/zoom/zoom.js
